<!doctype html>
<html class="h-100">
<head>
<title>Diveprofiler | informative dive video overlays</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{{ url_for('static', filename='sticky-footer.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='jquery.fontselect.css') }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/d724143a99.js" crossorigin="anonymous"></script>
<style>
.selected {
    border: 2px solid black
}
</style>
</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
<div class="container-fluid">
<div class="row mt-3 justify-content-md-center">
<div class="col-md-6">
    <div class="media">
        <img src="{{ url_for('static', filename='bubbles.svg') }}" style="max-height: 200px;" class="align-self-center mr-3" alt="...">
        <div class="media-body">
            <h1>diveprofiler.com</h1>
            <p class="lead">
                Diveprofiler allows you to create overlays for your diving videos that display real time information straight from your dive computer's logs.
            </p>
        </div>
    </div>
    
    
    <!-- <video class="mx-auto" preload="auto" autoplay="autoplay" loop="loop">
        <source src="https://i.imgur.com/BK7Lhgp.webm" type="video/webm">
    </video> -->
</div>
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-6">
        <form id="upload" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="form-row mt-3">
            <div class="input-group">
                <div class="custom-file">
                    <input name="file" id="file" type="file" class="custom-file-input form-control" aria-describedby="uploadHelp" required>
                    <div class="invalid-tooltip">
                        Please select a file.
                    </div>
        
                    <label class="custom-file-label" for="file" id="file-label">Choose a dive log file</label>
                   
                </div>
        
            </div>
        </div>
        <div class="form-row ">
            <small id="uploadHelp" class="form-text text-muted">Supported formats: UDDF, SubSurface xml, css dive profile</small>
        </div>
        <div class="form-row mt-3">
            <!-- <div class="form-group col">
                <input name="font" id="fontselect" aria-describedby="fontHelp">
                <small id="fontHelp" class="form-text text-muted">Select the font you would like to use</small>
            </div> -->

            <div class="col text-center">
                <div class="form-group">
                    <input name="text-color" type="hidden" id="text-color" value="FFFFFF">
                    <input aria-describedby="textColorHelp" type="button" id="text-color-picker"
                        style="border: 1px solid black; font-size: 0; width: 40px;height: 40px;"
                        class="btn jscolor {value:'ffffff', valueElement: 'text-color'}"></input>
                    <small id="textColorHelp" class="form-text text-muted">Text color (click to choose)</small>

                </div>
            </div>
            
            
            <div class="col text-center">
                <div class="form-group">
                    <input name="background-color" type="hidden" id="background-color" value="000000">
                    <input aria-describedby="backgroundColorHelp" type="button" id="background-color-picker"
                        style="border: 1px solid black; font-size: 0; width: 40px;height: 40px;"
                        class="btn jscolor {value:'000000', valueElement: 'background-color'}"></input>
                    <small id="backgroundColorHelp" class="form-text text-muted">Background color (click to choose)</small>

                </div>
            </div>

            <div class="col text-center">
                <div class="form-group">
                    <input type="hidden" name="align" id="align" value="right">
                    <button id="leftalign" class="btn"><i class="fas fa-2x fa-align-left"></i></button>
                    <button id="centeralign" class="btn"><i class="fas fa-2x fa-align-center"></i></button>
                    <button id="rightalign" class="btn selected"><i class="fas fa-2x fa-align-right"></i></button>
                    <small id="alignmentHelp" class="form-text text-muted">Text align: right</small>
                </div>
            </div>
            
        </div>
        <div class="form-row mt-3">
            <div class="col">
                <div class="form-group">
                    <input type="range" id="font-size" name="font-size" class="form-control-range" step="1" min="10" max="32" value="32" aria-describedby="fontSizeHelp">
                    <small id="fontSizeHelp" class="form-text text-muted">Font size: </small>
                </div>
            </div>
        </div>

        <div class="form-row mt-3">
        
        </div>
       
        <div class="form-row mt-3 justify-content-md-center"">
        
            <button type="submit" class="btn btn-dark mx-auto">Submit</button>
        </div>

        <div class="form-row text-center">
            <small id="previewHelp" class="form-text text-muted">Preview of the generated overlay (using placeholder data)</small>

        </div>
        
        <div class="form-row mt-3 justify-content-md-center">
            <canvas aria-describedby="widthHelp" id="preview"></canvas>
        </div>

        </form>
    </div>
</div>


<div class="row mt-3 justify-content-md-center">
<div class="col-md-6">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">File</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="jobs">
        </tbody>
    </table>
</div>
</div>
</div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="Y7ENQJFTH8N5C" />
            <input type="hidden" name="currency_code" value="EUR" />
            <div class="text-center">
            <p class="text-muted">Please consider donating to support the upkeep of this site.</p>

            <input class="mx-auto" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
                title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            </div>
        </form>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='jscolor.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.fontselect.js') }}"></script>

</body>
</html>